.login{
    height: calc(100vh-50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10 px 0 px;
}
.loginInput{
    padding: 10px;
    margin-top: 10px;
    background-color: aliceblue;
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color:white;
    border-radius: 10px;
    padding: 10px;
}
.loginButton:disabled{
    background-color :rgb(234, 186, 186);
    cursor: not-allowed;
}
.loginRegisterButton{
    position:absolute;
    top:60px;
    right :20px;
    background-color: blueviolet;
    border: none;
    color:white;
    border-radius: 10px;
    /* padding: 10px; */
    cursor: pointer;
}
.errMsg{
    color: red;
}
